bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
*.DotSettings.user

# Build and publish output
publish/


# Ignore all markdown files except README.md and .github folder
*.md
!README.md
!.github/**/*.md
!.github/**/*.yml
